@model SalesOrdersProject.Models.Customer

@{
    ViewBag.Title = "Login User";
}

<h3>Login:</h3>

@using (Html.BeginForm("Index", "Login"))
{
    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)

    @Html.ValidationSummary(true, "Login failed.  Check login details")

    <div class="form-group">
        <label>Email Address</label>
        @Html.TextBoxFor(x => x.CustomerEmailAddress, new { @class = "form-control" })
    </div>

    @*<div class="form-group">
        <label>Password</label>
        @Html.PasswordFor(x => x.CustomerPassword, new { @class = "form-control" })
        @Html.TextBoxFor(x => x.CustomerPassword, new { @class = "form-control" })
    </div>*@

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Login" />
    </div>
}

