@model SalesOrdersProject.Models.Customer

@{
    ViewBag.Title = "Register User";
}

@*@using (Html.BeginForm("Register", "Register"))
{
    @Html.ValidationSummary()

    <h3>Register</h3>

    <div class="registerFormGroup form-group col-xs-4">
        <label>First Name</label>
        <div class="registerTextbox">
            @Html.TextBoxFor(x => x.CustomerFirstName, new { @class = "form-control" })
        </div>
    </div>

    <div class="registerFormGroup form-group col-xs-4">
        <label>Last Name</label>
        <br />
        <div class="registerTextbox">
            @Html.TextBoxFor(x => x.CustomerLastName, new { @class = "form-control" })
        </div>
    </div>

    <div class="registerFormGroup form-group col-xs-4">
        <label>Address</label>
        <br />
        <div class="registerTextbox">
            @Html.TextBoxFor(x => x.CustomerStreetAddress, new { @class = "form-control" })
        </div>
    </div>

    <div class="registerFormGroup form-group col-xs-4">
        <label>City</label>
        <br />
        <div class="registerTextbox">
            @Html.TextBoxFor(x => x.CustomerCity, new { @class = "form-control" })
        </div>
    </div>

    <div class="registerFormGroup form-group col-xs-4">
        <label>State</label>
        <br />
        <div class="registerTextbox">
            @Html.TextBoxFor(x => x.CustomerState, new { @class = "form-control" })
        </div>
    </div>

    <div class="registerFormGroup form-group col-xs-4">
        <label>Postal Code</label>
        <br />
        <div class="registerTextbox">
            @Html.TextBoxFor(x => x.CustomerZipCode, new { @class = "form-control" })
        </div>
    </div>

    <div class="registerFormGroup form-group col-xs-4">
        <label>Area Code</label>
        <br />
        <div class="registerTextbox">
            @Html.TextBoxFor(x => x.CustomerAreaCode, new { @class = "form-control" })
        </div>
    </div>

    <div class="registerFormGroup form-group col-xs-4">
        <label>Phone Number</label>
        <br />
        <div class="registerTextbox">
            @Html.TextBoxFor(x => x.CustomerPhoneNumber, new { @class = "form-control" })
        </div>
    </div>

    <div class="registerFormGroup form-group col-xs-4">
        <label>Email Address (Used as User Name)</label>
        <br />
        <div class="registerTextbox">
            @Html.TextBoxFor(x => x.CustomerEmailAddress, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label>Password</label>
        @Html.PasswordFor(x => x.CustomerPassword, new { @class = "form-control" })
        @Html.TextBoxFor(x => x.CustomerPassword, new { @class = "form-control" })
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Register" />
    </div>


}*@




@using (Html.BeginForm("Register", "Register"))
{
    @Html.ValidationSummary()

    <h3>User Registration</h3>

    <div class="form-group form-group col-xs-4">
        <label>First Name:</label>
        <br />
        <div class="registerTextbox">
            @Html.TextBoxFor(x => x.CustomerFirstName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label>Last Name:</label>
        <br />
        <div class="registerTextbox">
            @Html.TextBoxFor(x => x.CustomerLastName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label>Address:</label>
        <br />
        <div class="registerTextbox">
            @Html.TextBoxFor(x => x.CustomerStreetAddress, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label>City:</label>
        <br />
        <div class="registerTextbox">
            @Html.TextBoxFor(x => x.CustomerCity, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label>State:</label>
        <br />
        <div class="registerTextbox">
            @Html.TextBoxFor(x => x.CustomerState, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label>Postal Code:</label>
        <br />
        <div class="registerTextbox">
            @Html.TextBoxFor(x => x.CustomerZipCode, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label>Email Address:</label>
        <br />
        <div class="registerTextbox">
            @Html.TextBoxFor(x => x.CustomerEmailAddress, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group" id="passWordBox">
        <label>Password:</label>
        <br />
        <div class="registerTextbox">
            @Html.PasswordFor(x => x.CustomerPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Register" />
    </div>
}
