@model SalesOrdersProject.Models.Customer

@{
    ViewBag.Title = "Register User";
}

@using (Html.BeginForm("Register", "Register"))
{
    @Html.ValidationSummary()

    <h3>Register</h3>

    <div class="form-group">
        <label>First Name</label>
        @Html.TextBoxFor(x => x.CustomerFirstName, new { @class = "form-control" })
        <label>Last Name</label>
        @Html.TextBoxFor(x => x.CustomerLastName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Address</label>
        @Html.TextBoxFor(x => x.CustomerStreetAddress, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>City</label>
        @Html.TextBoxFor(x => x.CustomerCity, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>State</label>
        @Html.TextBoxFor(x => x.CustomerState, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Postal Code</label>
        @Html.TextBoxFor(x => x.CustomerZipCode, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Area Code</label>
        @Html.TextBoxFor(x => x.CustomerAreaCode, new { @class = "form-control" })
        <label>Phone Number</label>
        @Html.TextBoxFor(x => x.CustomerPhoneNumber, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Email Address (Used as User Name)</label>
        @Html.TextBoxFor(x => x.CustomerEmailAddress, new { @class = "form-control" })
    </div>

    @*<div class="form-group">
        <label>Password</label>
        @Html.PasswordFor(x => x.CustomerPassword, new { @class = "form-control" })
        @Html.TextBoxFor(x => x.CustomerPassword, new { @class = "form-control" })
    </div>*@

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Register" />
    </div>
}

